*{
    box-sizing: border-box;
}


.header {
    display:flex;
    justify-content: space-around;
    background-color: #1f2937;
    width: 100%;
    height: 150px;
    align-items: center;
}

.Header--logo {

    height: 370px;
    width: 370px;
    margin: 0px;

}

.menu--link {
    font-size: large;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    font-size: larger;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 20px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.menu--link:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
  }


.bodypart-1 {
    display:flex;
    background-color: #1f2937;
    justify-content: space-around;
    padding-top: 150px;
    padding-left: 20%;
    padding-right: 15%;
    padding-bottom: 100px;
}

.bodypart-1-p {

font-size: 18px;
}

.piechart {
    height: 100%;
    width: 100%;
    
}

.bodypart-1-header {
    size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bodypart-1-p {
    color: #f9faf8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.button {
    background-color: #FF66C4; 
    border: none;
    color: #00206F;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 12px;
  }

  .bodypart-2-header {
      display: flex;
      justify-content: center;
      font-size: 50px;
      align-items: flex-end;
      padding-top: 50px;
      font-weight: bolder;
      color: #1F2937;
      padding-bottom: 100px;
  }

  .bodypart-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 150px;
      
  }

  .bodypart-2-content {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 200px;
      padding-right: 200px;
      
  }

 .charliehead {
    height: 50%;
    width: 50%;
    display: flex;
 }

 .charliehead {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF66C4;
    border-radius: 25px;
    border: solid black;
 }

 .bodypart-content {
     display: flex;
     flex-direction: column;
     align-items: center;
     
 }

 .charlietext {
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .charlieheadtext {
     text-align: center;
     font-weight: bolder;
     
 }

 .bodypart-3 {

    display: flex;
    flex-direction: column;
     background-color: #1F2937;
     justify-content: center;
     align-items: center;
     padding-top: 100px;
     padding-bottom: 100px;

 }

 .bodypart-3-quote {
    color: white;
    font-size: 28px;
    font-weight: bolder;
 }

 .quote {
     text-align: right;
     color: white;
     font-size: 18px;
     font-weight: bold;
 }

 .bodypart-4 {
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 200px;
     padding-bottom: 200px;

 }

 .bodypart-4-box {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     background-color: #1F2937;
     padding: 100px 250px 100px 250px;
     border-radius: 25px;
     
 }

 .bodypart-4-text {
     display: flex;
     font-size: larger;
 }

 .button2 {
    background-color: #FF66C4; 
    border: none;
    color: #00206F;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 12px;
 }

.bodypart-4-text-column {
    display: flex;
    flex-direction: column;
    color: white;
}

.bodypart-4-text-column-title {
    font-weight: bolder;
    font-size: 30px;
}

.bodypart-4-text-column-text {
    padding-right: 400px;
}


footer {
    display: flex;
    justify-content: center;
     background-color: #1F2937;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    font-size: 24px;
}